[submodule "XADMaster"]
	path = XADMaster
	url = https://github.com/MacPaw/XADMaster.git
[submodule "UniversalDetector"]
	path = UniversalDetector
	url = https://github.com/MacPaw/universal-detector.git
