[submodule "XADMaster"]
	path = XADMaster
	url = https://github.com/tak758/XADMaster.git
[submodule "UniversalDetector"]
	path = UniversalDetector
	url = https://github.com/tak758/universal-detector.git
